* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    font-size: 4.3rem;
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
    color: rgb(143, 135, 126);
    background-color: bisque;
    position: relative;
}
h1 > span {
    color: yellowgreen;
